.Earth li {
    width: 264px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px 2px #00000008;
    gap: 24px;
    padding-bottom: 30px;
    background: #FFF;
    border-radius: 5px;
}

.Earth.dark li {
    background: #2B3844;
}

.Earth.dark span {
    color: #FFF;
}

.Earth.dark h1, 
.Earth.dark p {
    color: #f4f4f4d2;
}

.Earth img {
    width: 100%;
    height: 160px;
}

.Earth div {
    gap: 10px;
}

.Earth p {
    font-size: 14px;
    color: #333;
    font-family: Nunito Sans;
}

.Earth span {
    color: #000;
    font-weight: 700;
    line-height: 150%;
    font-family: Nunito Sans;
}

.Earth h1 {
    font-family: Nunito Sans;
    font-size: 18px;
    color: #333;
}

.Earth h1,
p {
    font-family: Nunito Sans;
    padding-left: 20px;
}



@media (max-width: 1340px) {
    .Earth li {
        width: 250px;
    }
}


@media (max-width: 1150px) {
    .Earth li {
        width: 270px;
    }
}


@media (max-width: 1000px) {
    .Earth li {
        width: 240px;
    }
}



@media (max-width: 860px) {
    .Earth li {
        width: 280px;
    }
}


@media (max-width: 670px) {
    .Earth li {
        width: 240px;
    }

    .Earth img {
        height: 120px;
    }

    .Earth h1 {
        font-weight: 500;
        font-size: 15px;
    }

    .Earth p {
        font-size: 12px;
    }
}




@media (max-width: 550px) {
    .Earth li {
        width: 200px;
    }

    .Earth img {
        height: 100px;
    }

    .Earth div {
        margin-top: 10px;
    }

    .Earth h1 {
        font-weight: 500;
        font-size: 12px;
    }

    .Earth p {
        font-size: 9px;
    }
}


@media (max-width: 460px) {
    .Earth li {
        width: 150px;
    }

    .Earth img {
        height: 75px;
    }

}