.Earth {
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 74px;
}

@media (max-width: 1340px) {
    .Earth {
        gap: 37px;
    }
}

@media (max-width: 1150px) {
    .Earth {
        gap: 70px;
    }
}


@media (max-width: 1000px) {
    .Earth {
        gap: 40px;
    }
}


@media (max-width: 670px) {
    .Earth {
        gap: 20px;
    }
}